{% extends 'base.html' %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to Salem E-commerce</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify">
                    <br><br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a purus nunc. Proin aliquet sapien nisi, eu varius risus aliquam nec. Vivamus efficitur lacinia lacinia. Quisque dignissim nulla ut rutrum luctus. Mauris rhoncus pretium purus sed accumsan. Suspendisse lobortis elit id tincidunt interdum. Curabitur luctus, dolor sed pulvinar lacinia, leo purus efficitur purus, vitae interdum nisl neque pellentesque enim. Cras ligula sapien, luctus et faucibus ac, mattis eget leo. Praesent vestibulum vitae nibh non interdum. Ut imperdiet lacinia nibh congue molestie.
                    <br><br>
                    Aliquam nec ipsum nisl. In condimentum mi at lacus egestas varius a nec orci. Phasellus feugiat ex orci, at faucibus arcu pretium et. Aliquam congue ligula metus, ut congue arcu vehicula id. Maecenas egestas aliquet leo, tempus egestas tellus hendrerit ac. Morbi egestas eleifend turpis, ac tincidunt massa pulvinar quis. Vivamus vitae dui ipsum. Nulla lorem nisl, dapibus vel consectetur sit amet, elementum nec justo. Duis nec tempor sem, quis rhoncus mauris. Morbi lobortis arcu nisi, suscipit bibendum nisl hendrerit sollicitudin. Sed id viverra turpis. Ut lobortis vehicula posuere. Morbi vitae consequat velit, at tristique dolor. Nunc porttitor, lacus id sagittis accumsan, dolor metus sollicitudin ligula, ac iaculis urna quam quis enim. Aenean placerat urna vitae urna volutpat efficitur. Sed eleifend nibh sed nibh varius lobortis.
                    <br><br>
                    Etiam porttitor, urna id luctus bibendum, metus enim congue ipsum, nec mattis elit lacus id dui. Proin scelerisque nulla sit amet condimentum congue. Suspendisse accumsan eros et lectus euismod, ac auctor neque imperdiet. Nunc tempus turpis nunc, et volutpat ex vulputate vitae. Proin ultricies urna est, dapibus fringilla risus dictum vel. Donec porta diam a nibh euismod ultricies. Suspendisse tincidunt ornare commodo. Vestibulum egestas efficitur massa id tincidunt. Aliquam sagittis magna gravida nisi hendrerit varius. Nullam eget massa mollis, lobortis lorem in, sagittis diam. Vivamus iaculis augue id magna efficitur facilisis.
                    <br><br>
                </p>
            
            </div>
        </center>
    </div>
</div>

{% endblock %}